Options -MultiViews
RewriteEngine On
RewriteBase /

# Redirect URLs with .php extension to the corresponding URL without .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Redirect /index.php to /
RewriteRule ^index\.php$ / [R=301,L]
